<% @invoices.each do |invoice| %>
  <tr>
     <td><%= invoice.created_at.strftime("%d/%m/%Y") %></td>
    <td><%= invoice.uid %></td>
     
   
    <td><%= invoice.customer.customer_name %></td>
 
    <td><%= number_to_currency invoice.total, unit: "", seperator: ",", delimiter: " " %></td>
     <td><span class="invoice_payment_status_<%= invoice.paid.parameterize %>"><%= invoice.paid %></span></td>
    
    <td><span class="invoice_status_<%= invoice.status.parameterize %>"><%= invoice.status %></span></td>
    
    <td>
                    <div class="action-buttons">
                    

<div class="action-buttons">
    <% if can? :show, invoice %>
        <%= link_to raw('<i class="fa fa-eye" aria-hidden="true"></i>
'), show_invoice_path(invoice), title: "Voir", remote: false %>
<% end %>
<!--
 link_to raw('<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      '), generate_pdf_path(uid: invoice.uid, format: :pdf), remote: false, title: "Télécharger"  -->


<% if unconfirmed_invoice?(invoice) %>
    <% if can? :destroy, invoice %>
        <%= link_to raw('<i class="fa fa-ban" aria-hidden="true"></i>
    '), get_cancel_invoice_path(uid: invoice.uid), remote: true, title: "Annuler", class: "delete" %>
    <% end %>

<% end %>
</div>
</td>
  </tr>
<% end %>