<p id="notice"><%= notice %></p>

<h1>Invoice Food Items</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoice_food_items.each do |invoice_food_item| %>
      <tr>
        <td><%= invoice_food_item.uid %></td>
        <td><%= link_to 'Show', invoice_food_item %></td>
        <td><%= link_to 'Edit', edit_invoice_food_item_path(invoice_food_item) %></td>
        <td><%= link_to 'Destroy', invoice_food_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice Food Item', new_invoice_food_item_path %>
