<p id="notice"><%= notice %></p>

<h1>Quote Product Items</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quote_product_items.each do |quote_product_item| %>
      <tr>
        <td><%= quote_product_item.uid %></td>
        <td><%= link_to 'Show', quote_product_item %></td>
        <td><%= link_to 'Edit', edit_quote_product_item_path(quote_product_item) %></td>
        <td><%= link_to 'Destroy', quote_product_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote Product Item', new_quote_product_item_path %>
